#header{

	font-size: 50px;
	text-align: center;
	font-family: Fredoka, system-ui;
	background-color: LightGreen;
	color: GhostWhite;
	animation: pulseColor 2s infinite alternate ease-in-out;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

#nav a{
	font-size: 25px;
	text-align: center;
	font-family: Fredoka, system-ui;
	font-weight: 500;
	background-color: #ECFDF5;
	color: LightGreen;
	border: 4px solid LightGreen;
	border-radius: 17px;
	padding:7px;
	margin:15px;
	text-decoration: none;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	display:inline-block;
}

#nav{
	
	text-align: center;
}


	 
#nav a:hover{
	transform: scale(1.2);
	background-color:LightGreen;
	color:GhostWhite;
	box-shadow: 0 0 20px LightGreen;
	
}

#intro{
	font-family: Fredoka, system-ui;
	font-size: 20px;
	padding: 7px;
	margin: 10px;
	border: 4px solid LightGreen;
	border-radius: 17px;
	background-color: #ECFDF5;
	color: LightGreen;
	font-weight: 500;
	
}

#introQ{
	width: fit-content;
	font-family: Fredoka, system-ui;
	font-size: 20px;
	padding: 7px;
	margin: 0 auto;
	border: 4px solid LightGreen;
	border-radius: 17px;
	background-color: #ECFDF5;
	color: LightGreen;
	font-weight: 500;
	display: flex;
	justify-content: center;
	
}

#introHead{
	text-align:center;
	color: GhostWhite;
	background-color: LightGreen;
	font-family: Fredoka, system-ui;
	font-size: 35px;
	text-shadow: 2px 2px #1D8348;
	
}

#introHeadZ{
	text-align:center;
	color: GhostWhite;
	background-color: LightGreen;
	font-family: Fredoka, system-ui;
	font-size: 22px;
	text-shadow: 2px 2px #1D8348;
	
}

@keyframes pulseColor {
  from {
    color: GhostWhite;
  }
  to {
    color: #ebffff;
    text-shadow: 4px 4px 20px GhostWhite;
  }
}

#opening{
	text-align:center;
	font-family: Fredoka, system-ui;
	font-size: 25px;
	background-color:GhostWhite;
	animation: pulseColor2 2s infinite alternate ease-in-out;

}

body{
	background-color:GhostWhite;
}

#crimeList{
	text-align: center;
	font-family: Fredoka, system-ui;
	font-size: 20px;
	text-decoration: none;
}

#crimeList p:nth-child(even) {
	background-color: #C5FFC4
}

@keyframes pulseColor2 {
  from {
    color: black;
  }
  to {
    color: #1D8348;
    text-shadow: 4px 4px 20px black;
  }
}

h1{
	margin: 10;
	padding: 10;
}

h2{
	margin: 10;
	padding: 10;
}

h4{
	margin: 0;
	padding: 0;
	text-align:center;
	color: GhostWhite;
	background-color: LightGreen;
	font-family: Fredoka, system-ui;
	font-size: 25px;
	text-shadow: 2px 2px #1D8348;
	animation: pulseColor3 0.25s infinite alternate ease-in-out;
}

@keyframes pulseColor3 {
  from {
    color: white;
  }
  to {
    color: #1D8348;
    text-shadow: 4px 4px 20px white;
  }
}
