.THeading{
		font-family: Comic Sans MS;
		text-align: center;
		font-size: 80px;
		margin-bottom: 0px;
		font-weight: bold;
		margin: 0px;
		text-shadow: 0 0 100px SeaGreen;
		color: #D1E8FF;
		text-decoration: none;
		
}

#TSubHeading{
		font-family: Comic Sans MS;
		text-align: center;
		font-size: 50px;
		margin-top: 0;
		text-shadow: 0 0 100px SeaGreen;
		color: #D1E8FF;
		
}

.button{
		font-size: 150px;
		align: centre;
		display: inline-block;
		padding : 20px 40px;
		margin: 10px;
		font-weight: bold;
		text-decoration: none;
		border-radius: 10px;
		font-family: Comic Sans MS;
		transition: transform 0.3s ease;
		
}

.red{
		color: #D1E8FF;
		box-shadow: 0 0 10px 0px FireBrick;
		transition: box-shadow 0.3s ease;
		cursor: pointer;
		transition: transform 0.3s ease;
		background-color: FireBrick;
}

.blue{
		color: #D1E8FF;
		box-shadow: 0 0 10px 0px RoyalBlue;
		transition: box-shadow 0.3s ease;
		cursor: pointer;
		transition: transform 0.3s ease;
		background-color: RoyalBlue;
}

.green{
		color: #D1E8FF;
		box-shadow: 0 0 10px 0px LightGreen;
		transition: box-shadow 0.3s ease;
		cursor: pointer;
		transition: transform 0.3s ease;
		background-color: LightGreen;
}

.button-group{
		display: flex;
		justify-content: center;
		gap: 100px;
}

.red:hover{
		box-shadow: 0 0 30px 10px FireBrick;
		transform: scale(1.2);
		color: GhostWhite;
		background-color: FireBrick;
}

.blue:hover{
		box-shadow: 0 0 30px 10px RoyalBlue;
		transform: scale(1.2);
		color: White;
		background-color: RoyalBlue;
}

.green:hover{
		box-shadow: 0 0 30px 10px LightGreen;
		transform: scale(1.2);
		color: GhostWhite;
		background-color: LightGreen;
}

.scanlines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.1) 50%
  ),
  linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.03),
    rgba(0, 255, 0, 0.01),
    rgba(0, 0, 255, 0.03)
  );
 
  background-size: 100% 4px, 3px 100%;
}

.THeading a {
	text-decoration: none;
	color: inherit;	
}




